[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

[Service]
User=<your_user>
Group=<your_group>

Type=simple
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
